@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--dark-white);
  font-family: "Roboto", sans-serif;
}

:root {
  --dark-primary-color: #090522;
  --dark-white: #ffffff;
  --dark-logo: #2c2b97;
  --dark-table: #2b2a99;
  --dark-checked: #40cd79;
  --dark-alert-background: #351c4a;
  --dark-alert-color: #e77ae8;
  --dark-hover: #3a3acc;
  --dark-animate-bg: #0b043b;
}
.margin-top-content {
  margin-top: 200px;
}
body {
  background-color: var(--dark-primary-color);
  position: relative;
  overflow-x: hidden;
}
.logo-container > a {
  display: inline-block;
}
#root {
  max-width: 1140px;
  margin: auto;
  position: relative;
}
.navbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 16px 20px 0 20px;
}
.scroll-nav {
  background-color: var(--dark-white);
  justify-content: space-between;
  box-shadow: 1px 4px 7px #424242;
  z-index: 1000;
  height: 60px;
  border-radius: 8px;
  left: 0 !important;
  animation-duration: 0.5s;
  animation-name: opacity;
  animation-fill-mode: both;
  animation-direction: normal;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.scroll-nav div {
  margin: 10px;
}
.scroll-nav a {
  color: black;
}
.scroll-nav img {
}
.scroll-nav .logo-container {
  display: flex;
  align-items: center;
  background-color: var(--dark-hover);
  border-radius: 30px;
  padding: 8px;
}
.navbar-list {
  display: flex;
  margin-right: 20px;
}

.list-container {
  display: flex;
  align-items: center;
}

.list-item {
  list-style-type: none;
  padding: 10px 20px;
}

.list-item > a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s linear;
}

.list-item:hover > a {
  color: var(--dark-hover);
}
/* BEGIN CONTENT */
.content {
  margin-top: 250px;
}
.content::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  top: 80px;
  left: -8%;
  background-image: url(./img/shape__white1.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: loop;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  mix-blend-mode: overlay;
}
.content::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 80px;
  right: 0;
  background-image: url(./img/shape__white1.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: loop;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  mix-blend-mode: overlay;
}
@keyframes loop {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

/* home */
.home-container {
  display: flex;
  margin-top: 250px;
  height: 100vh;
}
.title-alert {
  color: var(--dark-alert-color);
  background-color: var(--dark-alert-background);
  width: fit-content;
  padding: 4px 16px;
  border-radius: 20px;
  font-size: 16px;
}
.title-alert img {
  margin-right: 4px;
}

.title-heading {
  margin-top: 24px;
}

.title-heading h1 {
  font-size: 60px;
}

.title-heading p {
  font-size: 20px;
  line-height: 32px;
  margin-top: 10px;
}

.home-animation {
  flex: 1;
  position: relative;
}

.home-animation::after {
  /* circle */
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 58%;
  background-color: var(--dark-animate-bg);
  left: 40%;
  right: 0;
  bottom: 0;
  top: -10%;
}
.home-content {
  position: relative;
}
.home-content::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  right: -181%;
  top: -16%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/virus__group.png);
  animation-name: loop;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.home-animation .video {
  position: relative;
  right: 0;
  left: 62%;
  z-index: 1;
  top: 5%;
  border-radius: 60%;
}

.hidden {
  display: none;
}

/* contagion */
.contagion-container {
  margin-top: 100px;
}

.contagion-table {
  position: relative;
  background-color: var(--dark-table);
  height: 220px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.contagion-table::before {
  content: "";
  position: absolute;
  background-image: url(./img/shape__white1.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  left: -1%;
  bottom: -4%;
  opacity: 0.4;
}
.contagion-table::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  right: -10%;
  top: -36%;
  opacity: 0.2;
  background-image: url(./img/shape__white1.png);
  background-size: contain;
}

.contagion-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 20px;
}
.contagion-item {
  position: relative;
  padding: 40px;
}
.contagion-item h1 {
  font-weight: 700;
}

.contagion-item + .contagion-item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: var(--dark-white);
  top: 41%;
  left: 1%;
}

/* ABOUT */
.about-container {
  margin-top: 260px;
  display: flex;
}
.about-container > div {
  flex: 1;
}

.about-info h1,
.symptoms-info h1 {
  margin: 20px 0;
  text-transform: capitalize;
  font-size: 40px;
}

.about-desc > p,
.symptoms-info .symptoms-desc {
  line-height: 32px;
  font-size: 18px;
  margin-top: 20px;
}

.about-info .title-alert {
  position: relative;
  bottom: 10%;
}

/* symptoms */
.symptoms-container {
  display: flex;
  margin-top: 120px;
}
.symptoms-info {
  margin-top: 100px;
  margin-right: 30px;
}
.green {
  color: var(--dark-checked);
  margin-right: 6px;
}

.symptoms-table table {
  margin-top: 10px;
  width: 100%;
}

.symptoms-table td {
  padding: 10px;
  font-size: 18px;
}
.vh {
  height: 100vh;
}
.symptoms-info .title-alert {
  position: relative;
  bottom: 10%;
}
.symptoms-container {
  position: relative;
}
/* .symptoms-container::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 150%;
  height: 125%;
  background-color: #1b163a;
  left: -24%;
  bottom: -15%;
} */

.vaccine-type-container {
  margin-top: 100px;
  padding-top: 100px;
}
.vaccine-type-title {
  margin-top: 40px;
}
.vaccine-type-list {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vaccine-type-item {
  width: 330px;
  margin: 22px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.vaccine-type-item > div {
  padding: 20px;
}
.vaccine-heading {
  background-color: var(--dark-alert-background);
  display: flex;
  justify-content: center;
}
.vaccine-heading i {
  font-size: 30px;
  flex: 1;
}
.vaccine-heading h1 {
  font-size: 30px;
  margin-left: 10px;
  flex: 5;
  text-align: center;
}
.vaccine-info {
  background-color: var(--dark-alert-background);
  line-height: 30px;
  position: absolute;
  z-index: 1;
  /* display: none;/ */
  visibility: hidden;
  opacity: 0;
  top: 0;
  transition: 0.1s linear;
}

.show {
  visibility: visible;
  opacity: 1 !important;
  transition: 0.2s linear;
  transform: translateY(69px) !important;
}

.sequelae-container {
  margin-top: 150px;
  margin-bottom: 280px;
}
.sequelae-title {
  margin-top: 50px;
}

.sequelae-icon-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sequelae-icon-item {
  position: relative;
  width: 180px;
  height: 200px;
  background-color: var(--dark-alert-background);
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.sequelae-icon-item p {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 700;
}
.sequelae-icon-item img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.sequelae-icon-item:hover {
  bottom: 26px;
  background-color: var(--dark-primary-color);
}
.confirmed {
  border-left: 10px solid var(--dark-hover);
}
.recoverd {
  border-left: 10px solid var(--dark-checked);
}
.death {
  border-left: 10px solid rgb(200, 200, 200);
}
.title-show {
  color: black;
  font-size: 18px !important;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 10px;
}

.count-show {
  color: black;
  font-weight: bold !important;
  font-size: 18px !important;
}
.count-day {
  color: rgb(121, 121, 121);
  font-size: 18px !important;
}
.input-select,
.select {
  color: white !important;
}
#country-selector {
  background-color: #0b043b;
  color: white;
}
#country-selector > option {
  background-color: inherit;
}

.selected {
  border: 1px solid #f3585b;
  /* background-color: white !important; */
  color: black;
}
.type {
  margin: 20px 0 !important;
}

.map-container {
  margin-top: 70px;
}
.MuiInputLabel-shrink,
.MuiFormHelperText-root {
  color: white !important;
}

.highcharts-tooltip-box {
  fill: rgb(131, 131, 131);
  fill-opacity: 0.6;
  stroke-width: 0;
}

.form-container > label {
  font-size: 20px;
  z-index: 1;
}
.MuiFormHelperText-filled {
  font-size: 14px !important;
}
.MuiButtonGroup-root {
  margin: 20px;
}
.MuiButtonGroup-root > button {
  border-radius: 10px !important;
  margin: 0 10px;
  font-size: 14px;
  background-color: var(--dark-logo);
  /* border: 1px solid var(--dark-white); */
}
.MuiButton-outlinedSecondary {
  border: 1px solid var(--dark-white) !important;
}

.news-container {
  margin-top: 120px;
}

.news-nav {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 20px 0;
  background-color: var(--dark-animate-bg);
  margin: 50px 0 10px 0;
}
.new-nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.new-nav-item {
  flex: 1;
}
.navbar {
  position: sticky;
  top: 0;
  width: 1140px;
}
.new-nav-item > a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  /* width: 250px; */
  width: 100%;
  height: 50px;
  text-align: center;
  transition: 0.1s ease-in;
  outline: none;
}
.new-nav-item:hover > a {
  border-bottom: 10px solid var(--dark-logo);
  background-color: var(--dark-hover);
}
.news-selected {
  border-bottom: 1px solid var(--dark-hover);
}

.news-breadcrum {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.news-breadcrum > h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.breadcrum-icon {
  font-size: 70px;
  margin-left: 20px;
  font-weight: lighter;
}

.news-item {
  height: 250px;
  margin-top: 50px;
  border-bottom: 1px solid var(--dark-alert-background);
  padding-bottom: 50px;
}
.news-link {
  display: flex;
  text-decoration: none;
}
.news-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex: 1;
}
.news-item-img > img {
  width: 300px;
}
.news-item-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.news-item-info > h1 {
  font-size: 30px;
  margin-bottom: 18px;
}
.news-item-info > p {
  font-weight: lighter;
  line-height: 30px;
}

.newsDetail-container {
  margin-top: 120px;
  display: flex;
}
.newsDetail-more {
  margin-top: 100px;
  flex: 1;
  padding-left: 30px;
  position: sticky;
  top: 200px;
  height: 100vh;
}
.newsDetail-more h3 {
  text-transform: capitalize;
  margin-bottom: -32px;
}
.newsDetail-content {
  width: 660px;
}
.back-btn {
  margin-bottom: 40px;
}

.news-detail-wrapper img {
  width: 50%;
}

.back-link {
  text-decoration: none;
  font-size: 20px;
  border: 1px solid var(--dark-white);
  padding: 6px 10px;
  transition: 0.05s ease-in;
  display: inline-block;
}
.back-link-text {
  font-size: 0;
  transition: 0.05s ease-in;
}
.back-link:hover {
  background-color: var(--dark-animate-bg);
}
.back-link:hover .back-link-text {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  transform: translateY(-2px);
}
.back-link-icon {
  display: inline-block;
  font-size: 26px;
  transform: translateY(5px);
}

.news h1 {
  margin-top: 20px;
}

.news-detail-wrapper {
  margin-top: 50px;
}
.news-detail-img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.news-detail-wrapper p {
  font-size: 16px;
  line-height: 30px;
  text-indent: 10px;
  margin: 18px 0;
  font-size: 20px;
}

.newsDetail-bonus {
  margin: 50px 0;
}

.newsDetail-item-img {
  flex: 1;
}

.newsDetail-item-info {
  padding-left: 10px;
  flex: 2;
  height: inherit;
  font-size: 16px;
  line-height: 28px;
}
.newsDetail-link {
  align-items: center;
}
.newsDetail-item-img img {
  width: 100%;
}
.news strong {
  text-transform: uppercase;
  border-bottom: 1px solid var(--dark-hover);
}
.chart-container {
  margin-top: 100px;
}

.gotop-container {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 2px solid white;
  margin: 0 30px 20px 0;
  transition: 0.08s ease-in;
  border-radius: 10px;
  z-index: 10;
}
.gotop-link {
  display: inline-block;
  padding: 20px 24px;
  width: 100%;
  height: 100%;
}
.gotop-link {
  font-size: 30px;
  cursor: pointer;
}
.gotop-container:hover {
  background-color: var(--dark-logo);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: var(--dark-animate-bg);
  width: 200%;
  transform: translateX(-30%);
  padding-top: 200px;
}
.paddingBot {
  padding-bottom: 300px !important;
}
